/* ========= COMMON styles ========= */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* 150% */
  background: #fff;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  line-height: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}
/* ========= /COMMON styles ========= */

/* ========= MOBILE styles ========= */
.container {
  max-width: 480px;
}

/* ========= Header-mobile styles ========= */
.page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 0;
}

.logotype {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-header .logotype-span {
  color: #2e2f42;
}

.menu {
  display: none;
}

.burger-menu-btn {
  background-color: transparent;
}

.contacts {
  display: none;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* ========= /Header-mobile styles ========= */

/* ========= HERO-mobile ========= */
.page-hero {
  background-color: rgba(46, 47, 66, 0.7);
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/dark-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-resolution: 192dpi) and (max-width: 767px) {
  .page-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-mob@2x.jpg);
  }
}

.hero-top {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  max-width: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

button {
  border-radius: 4px;
  font-family: inherit;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* ========= /HERO-mobile ========= */

/* ========= Features-mobile style === */
.features-icon-box {
  display: none;
}

.features {
  display: block;
}

.features-item {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
}

.features-item:not(:last-child) {
  margin-bottom: 72px;
}

.features-name {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  margin-bottom: 8px;
}

.features-text {
  font-weight: 500;
}
/* ========= /Features-mobile style === */

/* ========= Team-mobile style === */
.page-team {
  background: #f4f4fd;
}

.team-top {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  margin-bottom: 72px;
}

.team-item {
  margin-left: auto;
  margin-right: auto;
  width: 264px;
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-item-container {
  padding: 32px 0;
}

.team-member {
  text-align: center;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  width: 232px;
  justify-content: center;
  gap: 24px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.team-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-link:hover,
.team-social-list-link:focus {
  background-color: #404bbf;
}
/* ========= /Team-mobile style === */

/* ========= Portfolio-mobile style === */
.portfolio-top {
  text-align: center;
  /* Header 2 */
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  margin-bottom: 72px;
}

.portfolio-item {
  margin-left: auto;
  margin-right: auto;
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  color: #f4f4fd;
  padding: 40px 32px;
  height: 300px;
  background: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-item:hover .text-overlay {
  transform: translateY(0%);
}

.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background: #fff;
  position: relative;
  z-index: 9;
}

.portfolio-subject {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* ========= /Portfolio-mobile style === */

/* ========= Footer-mobile style === */
.page-footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.page-footer .logotype {
  margin-bottom: 16px;
}

.page-footer .logotype-span {
  color: #f4f4fd;
}

.page-footer-text {
  color: #f4f4fd;
  width: 264px;
}

.footer-logo-box {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-box {
  margin-bottom: 72px;
}

.footer-social-text {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.subscribe-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.footer-subscribe-text {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-form-label {
  display: flex;
  flex-direction: column;
}

.subscribe-form-input {
  padding-left: 16px;
  width: 288px;
  height: 40px;
  align-self: center;
  background: #2e2f42;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-btn {
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn .footer-icon {
  fill: #fff;
  margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}
/* ========= /Footer-mobile style === */

/* ========= FORM-mobile style === */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  z-index: 99999;
  opacity: 0; /* invisible */
  visibility: hidden; /* hide 1 type*/
  pointer-events: none; /* hide 2 type*/
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1; /* visible */
  visibility: visible; /* show 1 type*/
  pointer-events: auto; /* show 2 type*/
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  line-height: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus,
.close-btn:active {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.form-field-wrapper {
  margin-bottom: 8px;
}

.order-form-text {
  text-align: center;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 16px;
}

.order-form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.input-field-wrapper {
  position: relative;
}

.order-form-input {
  padding-left: 38px;
  width: 256px;
  height: 40px;
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  font-weight: 400;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent; /* hide outline */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus {
  border-color: #4d5ae5;
}

.order-form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.form-comment-wrapper {
  margin-bottom: 16px;
}

.order-form-comment {
  padding: 8px 16px;
  height: 120px;
  resize: none;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}

.form-checkbox-wrapper {
  margin-bottom: 24px;
  position: relative;
}

.order-form-checkbox-label {
  display: flex;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: #8e8f99;
  flex-wrap: wrap;
}

.checkbox-visual {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  background-color: #ffffff;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-checkbox:checked + .order-form-checkbox-label span {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

.privacy-text {
  position: relative;
  transform: translateY(-50%);
}

.privacy-link {
  color: #4d5ae5;
  margin-left: 24px;
  position: relative;
  transform: translateY(-50%);
}
/* ========= /FORM-mobile style === */

/* ========= BURGER-mobile style === */
.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrapper.is-open {
  transform: translateX(0%);
}

.burger-box {
  position: relative;
  padding: 72px 16px 24px 16px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-menu-close-btn {
  background-color: rgba(231, 233, 252, 0.4);
}

.mobile-menu-item {
  margin-bottom: 40px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}

.burger-contacts-item {
  margin-bottom: 24px;
}

.burger-contacts-item:last-child {
  margin-bottom: 48px;
}

.burger-contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-contacts-link:hover,
.burger-contacts-link:focus {
  color: #404bbf;
}

.burger-social-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.burger-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-social-list-link:hover,
.burger-social-list-link:focus {
  background-color: #404bbf;
}
/* ========= /BURGER-mobile style === */

/* ========= /MOBILE styles ========= */

/* ========= TABLET styles ========= */
@media (min-width: 768px) {
  .page-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-tab.jpg);
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .page-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-tab@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(100%);
  }

  /* ========= Header-tablet styles ========= */
  .page-header .container {
    display: flex;
    justify-content: space-between;
  }

  .page-navigation {
    justify-content: flex-start;
  }

  .page-header .logotype {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;
    margin: 0;
  }

  .burger-menu-btn {
    display: none;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 16px 0;
    gap: 12px;
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.48px;
  }

  .menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item:first-child .menu-link:active {
    color: #404bbf;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .menu-item:first-child .menu-link::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item:first-child:active .menu-link::after {
    background-color: #404bbf;
  }

  .contacts-link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  /* ========= /Header-tablet styles ========= */

  /* ========= HERO-tablet ========= */
  .page-hero {
    padding: 112px 0;
  }

  .hero-top {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  /* ========= /HERO-tablet ========= */

  /* ========= Features-tablet style === */
  .features {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .features .features-item {
    margin: 0;
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-name {
    text-align: left;
  }
  /* ========= /Features-tablet style === */

  /* ========= Team-tablet style === */
  .team {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team .team-item {
    margin: 0;
  }
  /* ========= /Team-tablet style === */

  /* ========= Portfolio-tablet style === */
  .portfolio {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio .portfolio-item {
    margin: 0;
    flex-basis: calc((100% - 24px) / 2);
  }

  /* ========= /Portfolio-tablet style === */

  /* ========= Footer-tablet style === */

  .footer-box {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    width: 496px;
    margin: 0 auto;
  }

  .footer-logo-box {
    align-items: flex-start;
    margin-bottom: 0;
  }

  .footer-social-box {
    margin-bottom: 0;
  }

  .footer-social-text,
  .footer-subscribe-text {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-form-input {
    width: 264px;
  }
  /* ========= /Footer-tablet style === */

  /* ========= FORM-tablet style === */
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .order-form-input {
    width: 360px;
  }

  .privacy-text {
    transform: translateY(0%);
  }

  .privacy-link {
    transform: translateY(0%);
    margin-left: 4px;
  }

  /* ========= /FORM-tablet style === */
}
/* ========= /TABLET styles ========= */

/* ========= DESKTOP styles ========= */
@media (min-width: 1158px) {
  .page-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-desk.jpg);
  }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .page-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-desk@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ========= Header-desktop styles ========= */
  .logotype {
    margin-right: 76px;
  }

  .contacts {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
  }
  /* ========= /Header-desktop styles ========= */

  /* ========= HERO-desktop ========= */
  .page-hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-top {
    margin-bottom: 48px;
  }
  /* ========= /HERO-desktop ========= */

  /* ========= Features-desktop style === */
  .features-icon-box {
    display: block;
  }

  .features .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .features-icon {
    fill: #2e2f42;
  }

  .features-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }

  .features-text {
    font-weight: 400;
  }
  /* ========= /Features-desktop style === */

  /* ========= Team-desktop style === */
  .team .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  /* ========= /Team-desktop style === */

  /* ========= Portfolio-desktop style === */
  .portfolio {
    row-gap: 48px;
  }

  .portfolio .portfolio-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  /* ========= /Portfolio-desktop style === */

  /* ========= Footer-desktop style === */
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-box {
    width: 100%;
    gap: 0;
  }

  .footer-logo-box {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-social-list {
    margin-right: 80px;
    margin-bottom: 0;
  }
  /* ========= /Footer-desktop style === */
}
/* ========= /DESKTOP styles ========= */
